# Practice
<b><h2>1. 20개 뉴스 그룹(Twenty Newsgroups) 데이터에 대한 이해</h2></b>

In [4]:
import pandas as pd
from sklearn.datasets import fetch_20newsgroups
#사이킷런에서는 20개의 다른 주제를 가진 18,846개의 뉴스 그룹 이메일 데이터를 제공
%matplotlib inline
import matplotlib.pyplot as plt
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.utils import to_categorical

In [5]:
newsdata = fetch_20newsgroups(subset='train') 
# 'train'을 기재하면 훈련 데이터만 리턴한다.
# subset ='all'을 넣으면 전체 데이터인 18,846개의 샘플을 다운로드
# subset ='test'을 넣으면 테스트 데이터인 샘플을 다운로드

In [8]:
print(newsdata.keys())   # 속성출력

dict_keys(['data', 'filenames', 'target_names', 'target', 'DESCR'])

- Practice에서 사용할 속성은 "data", "target"

In [9]:
print("훈련용 샘플의 개수 : {}".format(len(newsdata.data)))

훈련용 샘플의 개수 : 11314

In [10]:
print("총 주제의 개수 : {}".format(len(newsdata.target_names)))

총 주제의 개수 : 20

In [11]:
print(newsdata.target_names)

['alt.atheism', 'comp.graphics', 'comp.os.ms-windows.misc', 'comp.sys.ibm.pc.hardware', 'comp.sys.mac.hardware', 'comp.windows.x', 'misc.forsale', 'rec.autos', 'rec.motorcycles', 'rec.sport.baseball', 'rec.sport.hockey', 'sci.crypt', 'sci.electronics', 'sci.med', 'sci.space', 'soc.religion.christian', 'talk.politics.guns', 'talk.politics.mideast', 'talk.politics.misc', 'talk.religion.misc']

- Practice의 목적 : 이메일 본문을 보고 20개 주제 중 어떤 주제인지 맞추는 것

In [12]:
print("첫 번째 샘플의 레이블 : {}".format(newsdata.target[0]))

첫 번째 샘플의 레이블 : 7

In [13]:
print("7 번째 레이블의 주제 : {}".format(newsdata.target_names[7]))

7 번째 레이블의 주제 : rec.autos

In [15]:
# 첫 번째 샘플의 data 출력
print(newsdata.data[0])

From: lerxst@wam.umd.edu (where's my thing)
Subject: WHAT car is this!?
Nntp-Posting-Host: rac3.wam.umd.edu
Organization: University of Maryland, College Park
Lines: 15

 I was wondering if anyone out there could enlighten me on this car I saw
the other day. It was a 2-door sports car, looked to be from the late 60s/
early 70s. It was called a Bricklin. The doors were really small. In addition,
the front bumper was separate from the rest of the body. This is
all I know. If anyone can tellme a model name, engine specs, years
of production, where this car is made, history, or whatever info you
have on this funky looking car, please e-mail.

Thanks,
- IL
   ---- brought to you by your neighborhood Lerxst ----

- 훈련에 사용될 메일의 본문인 data와 레이블인 target을 데이터프레임으로 만듬

In [18]:
# data로 데이터프레임 생성
data =  pd.DataFrame(newsdata.data, columns=['email'])
data

                                                   email
0      From: lerxst@wam.umd.edu (where's my thing)\nS...
1      From: guykuo@carson.u.washington.edu (Guy Kuo)...
2      From: twillis@ec.ecn.purdue.edu (Thomas E Will...
3      From: jgreen@amber (Joe Green)\nSubject: Re: W...
4      From: jcm@head-cfa.harvard.edu (Jonathan McDow...
...                                                  ...
11309  From: jim.zisfein@factory.com (Jim Zisfein) \n...
11310  From: ebodin@pearl.tufts.edu\nSubject: Screen ...
11311  From: westes@netcom.com (Will Estes)\nSubject:...
11312  From: steve@hcrlgw (Steven Collins)\nSubject: ...
11313  From: gunning@cco.caltech.edu (Kevin J. Gunnin...

[11314 rows x 1 columns]

In [21]:
# 데이터프레임에 target 추가
data['target'] = pd.Series(newsdata.target)
data

                                                   email  target
0      From: lerxst@wam.umd.edu (where's my thing)\nS...       7
1      From: guykuo@carson.u.washington.edu (Guy Kuo)...       4
2      From: twillis@ec.ecn.purdue.edu (Thomas E Will...       4
3      From: jgreen@amber (Joe Green)\nSubject: Re: W...       1
4      From: jcm@head-cfa.harvard.edu (Jonathan McDow...      14
...                                                  ...     ...
11309  From: jim.zisfein@factory.com (Jim Zisfein) \n...      13
11310  From: ebodin@pearl.tufts.edu\nSubject: Screen ...       4
11311  From: westes@netcom.com (Will Estes)\nSubject:...       3
11312  From: steve@hcrlgw (Steven Collins)\nSubject: ...       1
11313  From: gunning@cco.caltech.edu (Kevin J. Gunnin...       8

[11314 rows x 2 columns]

- <b>'count' 모드</b><br>
    문서 단어 행렬(Document-Term Matrix, DTM)을 생성<br>
    단어 정수 인덱스는 1부터 시작하여 0번째 열은 0으로 채우고 열개수는 한개가 추가됨.<br>
    예) 정수 인덱스 9개이나 0번째 열을 0으로 채우니 총 열 개수 10개 됨<br>
    DTM은 bag of words를 기반으로 하므로 단어 순서 정보 X